//____________________________begin footer content_____________________//
.adres-list {
  background-color: #f2f2f2;
}

@media (min-width: $tablet-width) {
  .adres-list {
    width: 100%;
    background-color: rgb(255, 255, 255);
  }
}

@media (min-width: $desktop-width) {
  .adres-list {
    box-sizing: border-box;
    width: 570px;
    height: 200px;
    padding: 0;

    position: relative;

    top: 95px;
    left: 110px;
    z-index: 1;
  }

  .adres-list--index {
    box-sizing: border-box;
    width: 570px;
    height: 200px;
    padding: 0;

    position: relative;

    top: -35px;
    left: 109px;
    z-index: 1;
  }
}

.adres-list__header {
  display: flex;
  padding: 30px 0;
  background-color: #f2f2f2;
}

@media (min-width: $tablet-width) {
  .adres-list__header {
    display: flex;
    justify-content: space-between;

    margin: 0;
    padding: 60px 70px;
  }
}
//-------------------------label------------//
.adres-list__titel {
  width: 140px;
  font-size: $font-size-main;
  line-height: $font-line-height;
  text-transform: uppercase;
  margin: 0;
  margin-left: 20px;
}

@media (min-width: $tablet-width) {
  .adres-list__titel {
    width: 202px;
    font-size: 20px;
    line-height: 25px;
    text-transform: uppercase;
    margin: 0;
  }
}
//-----------------------address----------////
.adres-list__adres {
  width: 140px;
  font-family: $font;
  font-size: $font-size-adres;
  line-height: $font-line-height;
  text-align: left;
  font-weight: 300;
  margin: 0;
  margin-right: 20px;
}

@media (min-width: $tablet-width) {
  .adres-list__adres {
    box-sizing: border-box;
    font-family: $font;
    width: 160px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
    text-align: right;
    margin: 0;
  }

  .town {
    display: inline-block;
    box-sizing: border-box;
    padding-top: 30px;
  }
  //-------------------settings of map---------//
  .page-footer__map {
    display: block;
    width: 100%;
    position: relative;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__map {
    position: relative;
    top: -200px;
  }

  .page-footer__map--index {
    position: relative;
    top: -330px;
  }
}
