//____________________________begin footer content_____________________//
.adres-list {
  background-color: rgb(255, 255, 255);
}

@media (min-width: $tablet-width) {
  .adres-list {
    width: 100%;
    background-color: rgb(255, 255, 255);
    flex-shrink: 1;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: $desktop-width) {
  .adres-list {
    box-sizing: border-box;
    width: 570px;
    height: 200px;
    padding: 0;

    position: relative;

    top: -35px;
    left: 109px;
    z-index: 1;
  }
}

.adres-list__header {
  display: flex;
  justify-content: space-around;

  padding: 20px;
}

@media (min-width: $tablet-width) {
  .adres-list__header {
    display: flex;
    justify-content: space-between;

    padding: 60px 40px;
  }
}
//-------------------------label------------//
.adres-list__titel {
  font-size: $font-size-main;
  line-height: $font-line-height;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .adres-list__titel {
    width: 160px;
    font-size: 20px;
    line-height: 25px;
    text-transform: uppercase;
    margin: 0;
  }
}
//-----------------------address----------////
.adres-list__adres {
  width: 190px;
  font-size: $font-size-adres;
  line-height: $font-line-height;
  font-weight: 300;
}

@media (min-width: $tablet-width) {
  .adres-list__adres {
    box-sizing: border-box;
    font-family: $font;
    width: 160px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
    text-align: right;
    margin: 0;
  }

  .town {
    display: inline-block;
    box-sizing: border-box;
    padding-top: 30px;
  }
  //-------------------settings of map---------//
  .adres-list__map {
    display: block;
    width: 100%;
    position: relative;
  }
}

@media (min-width: $desktop-width) {
  .adres-list__map {
    position: relative;
    top: -330px;
  }
}
