.button {
  box-sizing: border-box;
  width: 100%;
  background-color: $color-button;
  color: $color-text;

  padding: 15px 0;
  margin-bottom: 20px;

  text-decoration: none;

  //don't work it//
  & :hover {
    background-color: $color-button-hover;
  }

  & :active {
    background-color: $color-button-down;
    color: rgb(153, 198, 132);
  }

  &--name {
    text-transform: uppercase;
    text-align: center;
    color: $color-text-button-order;
  }
}

@media (min-width: $tablet-width) {
  .button {
    width: 280px;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .button {
    width: 570px;
  }
}
