.button {
  box-sizing: border-box;
  width: 100%;
  background-color: $color-button;
  color: $color-text;

  padding: 15px 0;

  text-decoration: none;

  //don't work it//
  & :hover {
    background-color: $color-button-hover;
  }

  & :active {
    background-color: $color-button-down;
    color: rgb(153, 198, 132);
  }

  &--name {
    text-transform: uppercase;
    text-align: center;
    color: $color-text-button-order;
  }
}
