.copyright {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
}

@media (min-width: $tablet-width) {
  .copyright {
    padding: 0;
  }
}

.copyright-title {
  font-family: $font;
  font-size: $font-size-main;
  line-height: $font-line-height-copyright;
  color: $font-color;
}

@media (min-width: $tablet-width) {
  .copyright-title {
    margin-right: 20px;
  }
}
