@font-face {
  font-family: "Oswald-medium";
  src: url("../fonts/oswaldmedium.woff");
  font-weight: 500;
}

@font-face {
  font-family: "Oswald-regular";
  src: url("../fonts/oswalregular.woff");
  font-weight: 400;
}
