$width-mobile: 320px;
$font-size-adres: 14px;
$font-size-main: 16px;
$font-line-height: 20px;
$font-line-height-copyright: 16px;
$font-color: rgb(68, 68, 68);

.page-footer{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  background-color: rgb(242, 242, 242);

  width: $width-mobile;
}
.adres-list {

  background-color: rgb(255, 255, 255);
}
.adres-list__header {
    display: flex;
    justify-content: space-around;

    padding: 20px;
  }
.adres-list__titel {

    font-size: $font-size-main;
    line-height: $font-line-height;
    text-transform: uppercase;

  }
.adres-list__adres {
    width: 190px;
    font-size: $font-size-adres;
    line-height: $font-line-height;
    font-weight: 300;
  }
.page-footer__logo {

  padding: 30px 0;
  margin: 0;
}
.social {

  width: 280px;
  display:flex;
  justify-content: space-around;

  border-bottom: 1px solid #e6e6e6;
  border-top: 1px solid #e6e6e6;

  padding: 25px 0;
  margin: 0;
  list-style: none;
}
.copyright {

  display: flex;
  justify-content: space-between;
  padding: 30px 10px;
}
.copyright-title {

  font-size: $font-size-main;
  line-height: $font-line-height-copyright;
  color: $font-color;
}
