.item-header {
  box-sizing: border-box;
  display: flex;
}

@media (min-width: $tablet-width) {
  .item-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    height: 40px;
    margin-top: 76px;
    padding-left: 33px;
  }
}

@media (min-width: $desktop-width) {
  .item-header {
    justify-content: flex-start;
    align-items: center;
  }
}

.item-header__img {
  width: 10px;
  height: 10px;
  position: relative;
  background-color: $color-button;
  border-radius: 50%;

  padding: 20px;
  margin-top: 23px;
  margin-right: 20px;
}

.item-header__img img {
  position: absolute;
  top: 2px;
  right: 1px;
  width: 50px;
  height: 50px;
}

@media (min-width: $tablet-width) {
  .item-header__img {
    width: 200px;
    height: 200px;

    background-color: $color-button;
    border-radius: 50%;

    padding: 0;

    top: -7px;
    right: 22px;

    order: 2;
  }

  .item-header__img--slim > img {
    position: relative;
    width: 163px;
    height: 195px;
    top: -12px;
  }

  .item-header__img--pro > img {
    position: relative;
    width: 250px;
    height: 200px;
    top: 0;
  }
}

@media (min-width: $desktop-width) {
  .item-header__img {
    width: 100px;
    height: 100px;
    position: relative;

    top: -15px;
    right: 18px;
    background-color: $color-button;
    border-radius: 50%;
    padding: 0;
    order: 1;
    margin-top: 45px;
    margin-left: 50px;
  }

  .item-header__img--slim > img {
    position: relative;
    width: 120px;
    height: 95px;
    top: -4px;
  }

  .item-header__img--pro > img {
    position: absolute;
    width: 200px;
    height: 200px;
    top: -40px;
    right: 0;
  }
}

.item-tagline {
  font-size: $font-size-taglain;
  line-height: $font-line-height-tagline;
  text-transform: uppercase;

  margin-top: 32px;
  margin-bottom: 0;

  &--pro {
    margin-top: 30px;
    margin-bottom: 0;
  }
}

@media (min-width: $tablet-width) {
  .item-tagline {
    font-size: $font-size-taglain-tablet;
    line-height: $font-line-height-tagline;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .item-tagline {
    order: 2;
    margin: 0;
    padding: 0;
  }
}
//описание программ//
.item-description {
  font-family: $font;
  font-size: $font-size-button;
  line-height: $font-line-height-medium;
  text-align: left;

  margin-top: 25px;
  padding-bottom: 22px;

  border-bottom: 1px solid rgb(217, 217, 217);

  &--pro {
    margin-top: 23px;
    padding-bottom: 22px;
  }
}

@media (min-width: $tablet-width) {
  .item-description {
    width: 375px;
    font-family: $font;
    font-size: 16px;
    line-height: 24px;
    text-align: left;

    margin: 0;
    margin-top: 20px;
    margin-bottom: 35px;
    padding: 0;
    padding-left: 30px;
    border-bottom: none;

     &--pro {
      width: 340px;
      margin-top: 22px;
      margin-bottom: 33px;
  }
  }
}

@media (min-width: $desktop-width) {
  .item-description {
    width: 450px;
    padding-left: 50px;
    margin-top: 80px;
  }
}
//нижние ссылки в каталог//
.item-link {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  line-height: 16px;
  margin-top: 4px;
  padding-bottom: 24px;
}

@media (min-width: $tablet-width) {
  .item-link {
    height: 50px;

    margin: 0;
    margin-top: 10px;
    margin-left: 30px;
    padding: 0;

    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .item-link {
    padding: 0;
    margin: 0;
    margin-left: 50px;
  }
}

.item-link__right-arrow img {
  margin-left: 5px;
}
@media (min-width: $tablet-width) {
  .item-link__right-arrow img {
    display: block;
    margin-left: 20px;
    margin-top: -5px;
  }
}
