//главный контейнер//
.main-page {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  width: $width-mobile;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  text-align: center;
  background-color: rgb(255, 255, 255);
}

@media (min-width: $tablet-width) {
  .main-page {
    outline: 2px solid red;
    margin-left: auto;
    margin-right: auto;
    width: 768px;

    display: flex;
    flex-direction: wrap;
    justify-content: space-between;


    background-color: rgb(255, 255, 255);
  }
}

@media (min-width: $desktop-width) {
  .main-page {
    box-sizing: border-box;
    width: 1440px;
    padding: 0;

    position: relative;

    top: -130px;
  }
}
//Хедер главной страницы//
.main-header {
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-color: rgb(255, 255, 255);
  padding-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .main-header {
    background-image: none;
    background-color: rgb(255, 255, 255);
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 25px;
    padding: 0;

    height: 839px;
  }
}

@media (min-width: $desktop-width) {
  .main-header {
    height: 780px;
    display: flex;
    flex-direction: column;
    padding: 0;
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-color: rgb(255, 255, 255);
    background-position-x: 740px;
    background-size: 710px 690px;
  }
}

.main-header img {
  padding: 6px 0;
}

@media (min-width: $tablet-width) {
  .main-header img {
  padding: 0;
}
}
//-------------------------------lable header-------//
.main-header__title {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin-top: 27px;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
  font-size: 36px;
  line-height: 36px;

  color: white;
}

@media (min-width: $tablet-width) {
  .main-header__title {
    box-sizing: content-box;
    font-size: $font-size-header-h1-tablet;
    line-height: $font-line-height-header-h1-tablet;
    text-align: left;
    color: black;

    margin: 0;
    margin-top: 30px;
    margin-left: 86px;
    margin-right: 100px;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .main-header__title {
    box-sizing: content-box;
    margin-top: 225px;
    flex-shrink: 1;
    margin-left: 190px;
  }
}
//------------------------------------description header---------//
.main-header__tagline {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin-top: 15px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 22px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: $font-size-p;
  line-height: $font-line-height-header-p;
  color: white;
  text-transform: uppercase;
  font-weight: 400;

}

@media (min-width: $tablet-width) {
  .main-header__tagline {
    font-size: $font-size-p-tablet;
    line-height: $font-line-height-header-p;
    text-transform: uppercase;
    text-align: left;
    color: black;
    margin-top: 45px;
    margin-left: 80px;
  }
}

@media (min-width: $desktop-width) {
  .main-header__tagline {
    box-sizing: content-box;
    margin-top: 5px;
    flex-shrink: 1;
    margin-left: 190px;
  }
}
//--------------------------------------picture os box with kitchen------//
@media (min-width: $desktop-width) {
  .main-header__picture {
    position: relative;
    top: -300px;
    left: 140px;
  }
}
//-----------------------------------------green button-----------//
.main-header__button {
  box-sizing: border-box;
  display: flex;
  background-color: $color-button;
  color: white;

  margin-left: 20px;
  margin-right: 20px;
  margin-top: -6px;

  padding-left: 70px;
  padding-top: 10px;
  padding-bottom: 11px;


  text-decoration: none;

  //don't work it//
  & :hover {
    background-color: $color-button-hover;
  }

  & :active {
    background-color: $color-button-down;
    color: rgb(153, 198, 132);
  }

  //название кнопки//
  &--lable {
    font-size: $font-size-button;
    line-height: $font-line-height-medium;
    text-transform: uppercase;
  }
}

@media (min-width: $tablet-width) {
  .main-header__button {
    box-sizing: border-box;

    position: relative;
    width: 245px;
    background-color: $color-button;

    padding: 0;
    padding-left: 25px;
    padding-top: 15px;
    padding-bottom: 17px;
    margin: 0;
    top: -585px;
    left: 89px;

    text-decoration: none;


    //don't work it//
    & :hover {
      background-color: $color-button-hover;
    }

    & :active {
      background-color: $color-button-down;
      color: rgb(153, 198, 132);
    }

    //название кнопки//
    &--lable {
      font-size: $font-size-button-tablet;
      line-height: $font-line-height-medium-tablet;
      text-transform: uppercase;
      color: white;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-header__button {
    position: relative;
    width: 250px;
    background-color: $color-button;
    color: $color-text;

    top: -500px;
    left: 190px;

    padding: 15px 25px;

    text-decoration: none;

    //don't work it//
    & :hover {
      background-color: $color-button-hover;
    }

    & :active {
      background-color: $color-button-down;
      color: rgb(153, 198, 132);
    }

    //название кнопки//
    &--lable {
      font-size: $font-size-button-tablet;
      line-height: $font-line-height-medium-tablet;
      text-transform: uppercase;
      color: white;
    }
  }
}
