//--------------------------Main container of footer-----------//
.page-footer {
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: column;
  background-color: rgb(242, 242, 242);

  width: $width-mobile;
}

@media (min-width: $tablet-width) {
  .page-footer {
    box-sizing: border-box;
    outline: 2px solid green;
    width: 768px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;


    margin-left: auto;
    margin-right: auto;
  }
}
//------------------------wrapper of bottom footer---------//
.page-footer__bottom {
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .page-footer__bottom {
    outline: 2px solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    flex-grow: 1;
    padding: 60px 30px;
  }
}

//------------------------logo-------------//
.page-footer__logo {
  width: 130px;
  padding: 30px 90px;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .page-footer__logo {
    width: 130px;
    padding: 0;
    margin: 0;
  }
}
