//--------------------------Main container of footer-----------//
.page-footer {
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: column;

  width: $width-mobile;
}

@media (min-width: $tablet-width) {
  .page-footer {
    box-sizing: border-box;
    width: 768px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;


    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    box-sizing: border-box;
    width: 1440px;
    height: 550px;
  }
}

.page-footer__map img {
  display: block;

  width: 320px;
  height: 360px;
}

//------------------------wrapper of bottom footer---------//
.page-footer__bottom {
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .page-footer__bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    flex-grow: 1;
    padding: 60px 30px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__bottom {
    box-sizing: border-box;
    position: relative;
    top: -205px;
  }

  .page-footer__bottom--index {
    box-sizing: border-box;
    position: relative;
    top: -300px;
  }
}

//------------------------logo-------------//
.page-footer__logo {
  width: 130px;
  display: flex;
  padding: 0;
  padding-bottom: 16px;

  margin: 0;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: $tablet-width) {
  .page-footer__logo {
    width: 130px;
    padding: 0;
    margin: 0;
  }
}
