$font-size-title: 36px;
$font-size-description:14px;
$font-size-lable:24px;
$font-size-profile:16px;
$font-line-height-title: 60px;
$font-line-height-description: 18px;
$font-line-height-lable:24px;

$color-button: rgb(104, 183, 56);
$color-button-hover:rgb(94, 170, 47);
$color-button-down:rgb(94, 170, 47);
$color-text: rgb(255, 255, 255);

$width-mobile: 320px;

.program {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: $width-mobile;
}

.program-user {
  display: flex;
  flex-direction: column;
}

.header {
  padding-left: 20px;
  padding-right: 20px;
}

.header__title {
  margin: 0;
  padding: 0;

  font-weight: 300;
  font-size: $font-size-title;
  line-height: $font-line-height-title;
  text-align: left;
}

.header__description {
  text-transform: uppercase;
}

//------------------Program_selection_program__anketa & Program_selection_program-user__contact---------//
//перенести слова на строку//
.profile {
  margin: 0;
  padding: 0;
  margin-bottom: 5px;

  text-align: left;
  font-size: $font-size-profile;
  line-height: $font-line-height-description;
  text-transform: uppercase;
}

.profile__user {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  list-style: none;

  &:nth-child(2) {
    margin-bottom: 15px;
    margin-top: 15px;
  }
}

.profile__lable {
  font-family: inherit;
  display: flex;
  align-items: baseline;
}

.profile__value {
  height: 25px;
  flex-grow: 1;

  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;


  margin-bottom: 10px;
  margin-left: 5px;

  font-family: inherit;
  font-size: $font-size-profile;
  line-height: $font-line-height-description;
  text-transform: uppercase;

  &--icon {
    padding-right: 35px;
  }
}

.profile__description {
  padding-top: 20px;
  padding-bottom: 20px;


  font-weight: 300;
  font-size: $font-size-description;
  line-height: $font-line-height-description;
  text-transform: uppercase;
  text-align: left;
}

//------------------image in block Program_selection_program-user__coment-------------------//
.profile__img {
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;

  position: relative;

  top: -40px;
  left: 245px;
}

//--------------------------Program_selection_program-select------------------//
.program-select {
  border-bottom: 1px solid #e6e6e6;

  border-top: 1px solid #e6e6e6;

  padding-top: 20px;
  padding-bottom: 20px;
}

.select {
  margin: 0;
  padding: 0;

  padding-left: 20px;
  padding-right: 20px;

  list-style: none;
  text-align: left;
  font-size: $font-size-profile;
  line-height: $font-line-height-description;
  text-transform: uppercase;
}

//сделать отступ от круга//
.select__radio {
  padding-left: 20px;
}

.select__value {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;

  &:nth-child(2) {
    margin-bottom: 15px;
    margin-top: 15px;
  }
}

.select__lable {
  font-weight: 400;
  font-size: $font-size-profile;
  line-height: $font-line-height-description;

  text-transform: uppercase;
}

//------------------Program_selection_program-user__coment-------------------//
.program__profile {
  display: flex;
  flex-direction: column;

  padding-left: 20px;
  padding-right: 20px;
}

.program__lable {


  margin: 0;
  padding: 0;

  padding-top: 30px;
  padding-bottom: 30px;

  font-weight: 300;
  font-size: $font-size-lable;
  line-height: $font-line-height-lable;
  text-align: left;
}

.program__coment {
  font-family: inherit;
  font-size: $font-size-profile;
  line-height: $font-line-height-description;
  text-align: left;
  text-transform: uppercase;
}

//-----------------------------------Pseudo Elements------------------------------//
//удлинить//
.program__lable-greenline::after {
  content: "";

  position: absolute;

  width: 100px;
  height: 6px;

  margin-left: 20px;
  padding-left: 40px;

  background-color: rgb(104, 183, 56);
}

.comment-after::after {
  content: "";

  width: 150px;
  height: 6px;

  margin-left: 20px;
  padding-right: 20px;

  background-color: rgb(104, 183, 56);
}

.add-after::after {
  content: "";

  position: absolute;

  width: 100px;
  height: 6px;

  margin-left: 25px;
  padding-right: 10px;

  background-color: rgb(104, 183, 56);
}

//------------------------------------Program_selection_program-user__Additionall--------------------//
.add {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
}

.add__item {
  display: flex;
  flex-direction: column;

  margin-bottom: 15px;
}

.add__lable {
  font-size: $font-size-profile;
  line-height: $font-line-height-description;
  text-transform: uppercase;
}

.button {
  width: 100%;
  background-color: $color-button;


  padding: 15px 0;

  text-decoration: none;

  //don't work it//
  & ::hover {
    background-color: $color-button-hover;
  }

  & ::down {
    background-color: $color-button-down;
    color: rgb(153, 198, 132);
  }

  &--name {
    color: $color-text;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 20px;
  }
}

.legend {
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  color: rgb(68, 68, 68);
}
