//средняя часть страницы, описание программ//
.program-description {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  padding: 0 20px;
  padding-top: 20px;
}

@media (min-width: $tablet-width) {
  .program-description {
    display: flex;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .program-description {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    padding-left: 190px;
    padding-right: 80px;
  }
}

.program-description__item {
  display: flex;
  flex-direction: column;
  background-color: rgb(242, 242, 242);

  margin-bottom: 20px;
  padding: 0 20px;
}

@media (min-width: $tablet-width) {
  .program-description__item {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(242, 242, 242);

    margin-bottom: 30px;

    padding-bottom: 60px;
    padding-top: 80px;
  }
}

@media (min-width: $desktop-width) {
  .program-description__item {
    box-sizing: border-box;
    width: 570px;
    min-height: 370px;
    margin: 0;
  }
}
