//Раздел Как это работает//
.work__description {
  display: flex;
  flex-direction: column;
}

.work__title {
  margin: 0;
  padding: 0;
  padding-left: 20px;

  font-size: $font-size-work-h1;
  line-height: $font-line-height-work-h1;
  font-weight: 300;
  text-align: left;
}

