.work-list {

  list-style: none;
  margin: 0;
  margin-top: 20px;
  padding: 0;
  margin-left: 20px;
  margin-right: 20px;

}

@media (min-width: $tablet-width) {
  .work-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.work-list__item {
  box-sizing: border-box;

  display: flex;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .work-list__item {
    width: 300px;
    min-height: 230px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 70px;

    &--1 {
      background-image: url("../img/1.png");
      background-repeat: no-repeat;
      background-position-x: 125px;
    }

    &--2 {
      background-image: url("../img/2.png");
      background-repeat: no-repeat;
      background-position-x: 125px;
    }

    &--3 {
      background-image: url("../img/3.png");
      background-repeat: no-repeat;
      background-position-x: 125px;
    }

    &--4 {
      background-image: url("../img/4.png");
      background-repeat: no-repeat;
      background-position-x: 125px;
    }

    &:nth-child(2n){
      margin-right: 28px;
    }

    &:nth-child(-n+2){
      margin-bottom: 20px;
    }

  }
}

.work-list__img {
  width: 140px;
  background: green;
  margin-right: 23px;
}

@media (min-width: $tablet-width) {
  .work-list__img {
    box-sizing: border-box;
    width: 85px;
    height: 85px;
    background: green;
    margin-bottom: 27px;
    padding: 10px;
  }
}

.work-list__description {
  box-sizing: border-box;
  text-align: left;
  font-family: $font;
  font-size: $font-size-p;
  font-weight: 400;
  line-height: $font-line-height-medium;
}

@media (min-width: $tablet-width) {
  .work-list__description {
    width: 245px;
    text-align: left;
    font-family: $font;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;

    padding: 0;
    margin: 0;
  }
}
